/* Header
------------------------------------------------------------*/

.c-header {
  &.is-homepage {
    .c-header_left {
      opacity: 0;
      filter: blur(15px);
      pointer-events: none;
      transition: opacity 0.3s ease, filter 0.3s ease;

      &.is-show {
        opacity: 1;
        filter: blur(0);
        pointer-events: auto;
      }
    }
  }

  &_container {
    position: relative;
  }

  &_left {
    position: fixed;
    top: 20px;
    left: 25px;
    z-index: 101;

    @include maxW(1023px) {
      top: 14px;
      left: 15px;
    }
  }

  &_right {
    position: fixed;
    top: 18px;
    right: 30px;
    z-index: 101;

    display: grid;
    grid-template-columns: 300px 66.5px;
    align-items: center;
    gap: 30px;

    @include maxW(1023px) {
      top: 12px;
      right: 15px;
      position: absolute;
      display: block;
    }
  }

  &_logo {
    width: fit-content;

    @include maxW(1032px) {
      svg {
        width: 296.51px;
        height: auto;
      }
    }
  }

  &_lang {
    // .bogo-language-switcher {
    //   display: flex;
    //   flex-direction: row-reverse;
    //   gap: 20px;

    //   .en-US {
    //     position: relative;
    //   }

    //   li {
    //     list-style: none outside none;
    //     padding: 0;
    //     font-size: 4.6rem;

    //     &.current {
    //       text-decoration: underline;
    //       text-decoration-thickness: 1px;
    //       text-underline-offset: 6px;
    //     }
    //   }
    // }
  }

  &_nav {
    margin-top: 10px;
    margin-left: 2px;
    display: flex;
    gap: 38px;

    @include maxW(1023px) {
      margin-top: 6px;
      gap: 35px;
    }
  }

  &_link {
    a {
      font-size: 4.6rem;
      line-height: 1;
      letter-spacing: 5.52px;
      position: relative;
      display: inline-block;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        border-radius: 5px;
        height: 1px;
        bottom: 2px;
        left: 0;
        background: currentcolor;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }

      &.active:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      @include minW(1024px) {
        &:hover {
          opacity: 1;
          &:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }

      @include maxW(1023px) {
        font-size: 3rem;
        letter-spacing: 3.6px;
      }
    }
  }
}
