/* layout
------------------------------------------------------------*/
@-ms-viewport {
  width: device-width;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 100%;
  margin: auto;
  background-color: $main-bg-cl;
  color: $main-text-cl;
  font-family: $main-fonts;
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  transition: background-color 0.5s;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $main-bg-cl;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s linear;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.fadeout::after {
    opacity: 1;
    pointer-events: auto;
  }
}

main {
  flex: 1;
}

.l-layout {
  position: fixed;
  top: 0;
  width: 100%;

  @include maxW(1023px) {
    position: unset;
  }
}

.l-container {
  padding: 0 25px;

  @include maxW(1023px) {
    padding: 0 15px;
  }
}

::selection {
  background: #ededed;
  color: #000;
}
