/* variables
------------------------------------------------------------*/
$main-fonts: "Times New Roman", "fot-tsukuaoldmin-pr6n", serif;
$tsu-fonts: "fot-tsukuaoldmin-pr6n", serif;

//color common
$main-bg-cl: #f8f8f8;
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #b5b5b5;

:root {
  --app-height: 100vh;
}
