/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.homepage {
  // ===== top =====
  .top {
    &_container {
      height: 100vh;
      overflow: hidden;
      padding-left: 25px;

      @include maxW(1023px) {
        padding-left: 15px;
        height: var(--app-height);
      }
    }

    &_wrapper {
      width: 100%;
      height: 100%;
      position: relative;
    }

    &_catchcopy {
      padding-top: 10px;

      h2 {
        font-size: 7rem;
        line-height: 1;
        letter-spacing: 14px;
        font-weight: 300;
        margin-top: 7px;
      }

      @include maxW(1023px) {
        padding-top: 7px;

        h2 {
          font-size: 4.6rem;
          letter-spacing: 9.2px;
          margin-top: 4px;
        }
      }
    }

    &_mainvisual {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: calc(100vh - 82px);
      z-index: 100;

      @include maxW(1023px) {
        height: calc(100% - 54px);
      }
    }

    &_bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;

      &_g1 {
        height: 2.705%;
        background-color: #2f2d2c;
      }

      &_g2 {
        height: 5.405%;
        background-color: #474645;
      }

      &_g3 {
        height: 10.768%;
        background-color: #5f5e5e;
      }

      &_g4 {
        height: 21.53%;
        background-color: #828283;
      }

      &_g5 {
        height: 27.027%;
        background-color: #9a9b9b;
      }

      &_g6 {
        height: calc(100% - 2.705% - 5.405% - 10.768% - 21.53% - 27.027%);
        background-color: #b2b2b3;
      }
    }

    &_noise,
    &_logo {
      position: absolute;
      width: calc(100% - 20px);
      height: 100%;
      top: 0;
      right: 0;
      z-index: 2;

      @include maxW(1023px) {
        width: calc(100% - 15px);
      }
    }

    &_noise {
      // mix-blend-mode: screen;

      @include maxW(1023px) {
        img {
          object-fit: cover;
        }
      }
    }

    &_logo {
      figure {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 900px;
        height: auto;
        object-fit: contain;
        margin-left: -45px;
      }

      @include maxW(1023px) {
        img {
          width: 314px;
          margin-left: 0;
          margin-top: -25px;
        }
      }
    }
  }

  // ===== about =====
  .about {
    &_container {
      padding-top: 343px;

      @include maxW(1023px) {
        padding-top: 130px;
      }
    }

    &_content {
      position: relative;
      padding-left: 25px;

      &_text {
        position: relative;
      }

      p {
        font-size: 3.8rem;
        line-height: 1.6;
        letter-spacing: 5px;
        margin-bottom: 44px;
        font-feature-settings: "palt";

        .time-fonts {
          font-size: 4.25rem;
          letter-spacing: 0.8px;
          display: inline-block;
          margin-top: -5px;
        }

        &:last-child {
          margin-bottom: initial;
        }
      }

      @include maxW(1023px) {
        padding-left: 15px;

        &_text {
          padding-top: 100px;
        }

        p {
          font-size: 2.6rem;
          line-height: 1.5;
          letter-spacing: 3px;
          margin-bottom: 29px;

          .time-fonts {
            font-size: 2.9rem;
            letter-spacing: 0.58px;
          }
        }
      }

      @include maxW(375px) {
        p {
          font-size: 2.3rem;

          .time-fonts {
            font-size: 2.5rem;
          }
        }
      }
    }

    &_element {
      img {
        object-fit: contain;
        height: auto;
      }

      &.element-1 {
        position: absolute;
        right: 0;
        bottom: 15px;
        z-index: -1;

        img {
          width: 20.85vw;
        }

        @include maxW(1023px) {
          bottom: auto;
          top: 0;

          img {
            width: 40.1vw;
          }
        }
      }

      &.element-2 {
        margin-top: 105px;

        img {
          width: 52.78vw;
        }

        @include maxW(1023px) {
          margin-top: 0;
          position: absolute;
          left: 0;
          bottom: -58px;
          z-index: -1;

          img {
            width: 57.25vw;
          }
        }
      }
    }
  }

  // ===== overview =====
  .overview {
    &_container {
      padding-top: 354px;
      position: relative;

      @include maxW(1023px) {
        padding-top: 250px;
      }
    }

    &_element {
      position: absolute;
      right: 14.583%;
      top: 8px;

      figure {
        display: flex;
        justify-content: flex-end;
      }

      img {
        width: 13.89vw;
      }

      @include maxW(1023px) {
        top: 98px;
        right: 10.87%;

        img {
          width: 20.78vw;
        }
      }
    }

    &_layout {
      display: grid;
      grid-template-columns: 21.3% 1fr 1fr 1fr;
      align-items: flex-start;
      margin-bottom: 22px;

      &_group {
        margin-top: 35px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @include maxW(1023px) {
        display: block;
        margin-bottom: 18px;

        &_group {
          margin-top: 30px;
        }
      }
    }

    &_right {
      grid-column: 2/5;
      margin-top: -5px;

      @include maxW(1023px) {
        margin-top: 0;
      }
    }

    &_ptext {
      font-family: $tsu-fonts;
      font-size: 3.8rem;
      line-height: 1.4;
      letter-spacing: 1.5px;

      span.time-fonts {
        font-size: 4.2rem;
        letter-spacing: 0.7px;
      }

      @include maxW(1023px) {
        font-size: 2.6rem;
        line-height: 1.32;
        letter-spacing: 1.56px;

        span.time-fonts {
          font-size: 2.9rem;
          letter-spacing: 0.58px;
        }
      }

      @include maxW(375px) {
        font-size: 2.3rem;

        span.time-fonts {
          font-size: 2.6rem;
        }
      }
    }

    &_box {
      display: block;
      z-index: 1;
      position: relative;
      width: 100%;
      padding-bottom: calc(537 / 296 * 100%);

      &_inner {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &_top {
        position: absolute;
        top: -5px;
        left: 0;
      }

      &_bot {
        position: absolute;
        bottom: -8px;
        left: 0;

        p {
          font-size: 1.4rem;
          line-height: 1.2;
          opacity: 0.5;
        }
      }

      @include maxW(1023px) {
        padding-bottom: 0;

        &_inner {
          position: relative;
          display: grid;
          grid-template-columns: 50% 50%;
          align-items: flex-end;
        }

        &_top,
        &_bot {
          position: unset;
        }

        &_bot {
          text-align: right;

          p {
            font-size: 1.2rem;
            margin-bottom: 4px;
          }
        }
      }
    }

    &_swiper {
      position: relative;
      overflow: hidden;
      margin-top: 10px;

      figure {
        display: block;
        z-index: 1;
        position: relative;
        height: 100%;
        padding-bottom: calc(537 / 358 * 100%);
        background-color: #7b7a76;

        img {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }

      @include maxW(1023px) {
        margin: 12px -15px 0;
        padding: 0 15px;
      }
    }

    &_content {
      h2 {
        font-family: $tsu-fonts;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 1.64;
        letter-spacing: 1.92px;
        margin-top: 3px;
      }

      &_desc {
        margin-top: 30px;
        padding-right: 30px;
        font-family: $tsu-fonts;
        font-size: 1.6rem;
        letter-spacing: 1.5px;
        line-height: 1.5;
        font-feature-settings: "palt";
      }

      &_group {
        margin-top: 25px;
      }

      &_desc,
      &_group {
        transform: scale(0.7, 1);
        transform-origin: 0 0;
        width: 142.857143%;
        text-size-adjust: none;

        span {
          letter-spacing: 0;
        }
      }

      @include maxW(1023px) {
        h2 {
          font-size: 2.2rem;
          letter-spacing: 1.32px;
        }

        &_desc {
          margin-top: 14px;
          font-size: 1.4rem;
          line-height: 1.4;
          letter-spacing: 0.2px;
        }

        &_group {
          margin-top: 16px;

          a {
            font-size: 1.3rem;
          }
        }
      }
    }

    &_btn {
      margin-top: 120px;
      width: 100%;
      height: 150px;
      border: 1px solid $black-cl;
      position: relative;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:nth-child(2) {
        margin-top: 30px;
      }

      &:hover {
        background-color: $gray-cl;
        border: 1px solid $gray-cl;
        color: $white-cl;

        svg {
          path {
            fill: $white-cl;
          }
        }
      }

      p {
        height: 100%;
        font-size: 3.8rem;
        line-height: 1.4px;
        letter-spacing: 2.28px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      svg {
        position: absolute;
        top: 50%;
        right: 55px;
        transform: translateY(-50%);

        path {
          transition: 0.3s ease-in-out;
        }
      }

      @include maxW(1023px) {
        margin-top: 78px;
        height: 100px;

        &:nth-child(2) {
          margin-top: 15px;
        }

        p {
          font-size: 2.6rem;
          line-height: 1.75;
          letter-spacing: 1.56px;
        }

        svg {
          right: 25px;
          width: 15px;
          height: auto;
        }
      }
    }
  }

  // ===== news =====
  .news {
    &_container {
      padding-top: 300px;

      @include maxW(1023px) {
        padding-top: 200px;
      }
    }

    &_viewmore {
      display: grid;
      gap: 16px;
      grid-template-columns: 4.6em auto;
      align-items: center;
      width: fit-content;
      margin-top: 60px;

      p {
        font-size: 4.6rem;
        letter-spacing: 5.52px;
      }

      @include maxW(1023px) {
        gap: 10px;
        grid-template-columns: 3em auto;

        p {
          font-size: 3rem;
          letter-spacing: 3.6px;
        }
      }
    }
  }
}
